Source: schwinn810
Section: misc
Priority: extra
Maintainer: Mikhail Titov <mlt@gmx.us>
Build-Depends-Indep: debhelper (>= 8.0.0), po-debconf, pyqt4-dev-tools
Standards-Version: 3.9.3
Homepage: https://github.com/mlt/schwinn810
Vcs-Git: git://github.com/mlt/schwinn810.git
Vcs-Browser: https://github.com/mlt/schwinn810

Package: schwinn810
Architecture: all
Depends: ucf, python-tz, python-serial, ${misc:Depends}, ${python:Depends}
Recommends: python-gi, gpsbabel, libnotify-bin
Description: Software for Schwinn 810 GPS sport watch with heart rate monitor
 Set of a command line tools to extract data and convert into common formats,
 e.g. GPX, TCX, KML.
