#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_input low schwinn810/port || true
db_go

db_input low schwinn810/dir || true
db_go

db_input low schwinn810/auto || true
db_go

db_input low schwinn810/notify || true
db_go

db_input low schwinn810/hook || true
db_go

db_input low schwinn810/debug || true
db_go
